In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
import pickle

In [2]:
#Loading data
df = pd.read_csv("BIG5/data-final.csv", delimiter="\t")
df = df.loc[:,:'OPN10']
df.head()

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,OPN1,OPN2,OPN3,OPN4,OPN5,OPN6,OPN7,OPN8,OPN9,OPN10
0,4.0,1.0,5.0,2.0,5.0,1.0,5.0,2.0,4.0,1.0,...,5.0,1.0,4.0,1.0,4.0,1.0,5.0,3.0,4.0,5.0
1,3.0,5.0,3.0,4.0,3.0,3.0,2.0,5.0,1.0,5.0,...,1.0,2.0,4.0,2.0,3.0,1.0,4.0,2.0,5.0,3.0
2,2.0,3.0,4.0,4.0,3.0,2.0,1.0,3.0,2.0,5.0,...,5.0,1.0,2.0,1.0,4.0,2.0,5.0,3.0,4.0,4.0
3,2.0,2.0,2.0,3.0,4.0,2.0,2.0,4.0,1.0,4.0,...,4.0,2.0,5.0,2.0,3.0,1.0,4.0,4.0,3.0,3.0
4,3.0,3.0,3.0,3.0,5.0,3.0,3.0,5.0,3.0,4.0,...,5.0,1.0,5.0,1.0,5.0,1.0,5.0,3.0,5.0,5.0

In [3]:
#Remove rows with missing values
df = df.dropna(how='all', axis=0)
df.shape

(1013558, 50)

In [4]:
#Reverse Coding
col_list = df.columns
pos_list = col_list[[0,2,4,6,8,11,13,21,23,25,27,28,29,30,32,34,36,38,39,40,42,44,46,48,47,49]]
neg_list = col_list[[1,3,5,7,9,10,12,14,16,18,15,17,19,20,22,24,26,31,33,35,37,41,43,45]]
df[neg_list] = df[neg_list].replace({1:5, 2:4, 3:3, 4:2, 5:1})

In [5]:
#Applying kmeans clustering with no of clusters = 5 (as there are 5 personality traits)
classifier = KMeans(n_clusters=5).fit(df)
df['Prediction'] = classifier.labels_
df.head()

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,OPN2,OPN3,OPN4,OPN5,OPN6,OPN7,OPN8,OPN9,OPN10,Prediction
0,4.0,5.0,5.0,4.0,5.0,5.0,5.0,4.0,4.0,5.0,...,5.0,4.0,5.0,4.0,5.0,5.0,3.0,4.0,5.0,3
1,3.0,1.0,3.0,2.0,3.0,3.0,2.0,1.0,1.0,1.0,...,4.0,4.0,4.0,3.0,5.0,4.0,2.0,5.0,3.0,4
2,2.0,3.0,4.0,2.0,3.0,4.0,1.0,3.0,2.0,1.0,...,5.0,2.0,5.0,4.0,4.0,5.0,3.0,4.0,4.0,4
3,2.0,4.0,2.0,3.0,4.0,4.0,2.0,2.0,1.0,2.0,...,4.0,5.0,4.0,3.0,5.0,4.0,4.0,3.0,3.0,2
4,3.0,3.0,3.0,3.0,5.0,3.0,3.0,1.0,3.0,2.0,...,5.0,5.0,5.0,5.0,5.0,5.0,3.0,5.0,5.0,3

In [6]:
#Group by clusters
df.groupby('Prediction').mean()

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,OPN1,OPN2,OPN3,OPN4,OPN5,OPN6,OPN7,OPN8,OPN9,OPN10
Prediction,,,,,,,,,,,,,,,,,,,,,
0,1.781523,2.280326,2.128447,1.890410,2.157100,2.605080,1.673108,1.888888,2.102231,1.484309,...,3.299476,3.388300,3.848264,3.619755,3.224413,3.640210,3.459616,2.984020,4.039455,3.487274
1,3.423694,4.041432,3.757047,3.445926,4.004127,4.142739,3.611848,3.210034,3.750823,2.956787,...,3.749696,3.878225,4.259483,4.030946,3.954550,4.215862,3.958634,3.390586,4.189925,4.207297
2,2.193383,2.576796,2.902730,2.439811,2.672011,3.150218,2.168269,2.293822,2.697569,2.039034,...,3.664705,4.016910,3.761289,3.928687,3.776712,3.941547,4.058691,3.225814,3.896949,3.831293
3,3.420241,4.000067,4.307128,3.714336,4.230528,4.288075,3.829837,3.123901,3.673654,3.413267,...,3.850165,4.202601,4.057089,4.165404,4.130591,4.302773,4.292882,3.196035,4.098752,4.261093
4,2.054556,2.648820,2.922649,2.233787,2.864037,3.256312,2.111784,1.950372,2.257132,1.772554,...,3.605962,3.835894,3.984143,3.954279,3.706812,4.043501,3.979494,3.058393,4.334856,3.839088

In [7]:
ext = col_list[0:10]
est = col_list[10:20]
agr = col_list[20:30]
csn = col_list[30:40]
opn = col_list[40:50]

df_summary = pd.DataFrame()
df_summary['extroversion'] = df[ext].sum(axis=1)/10
df_summary['neurotic'] = df[est].sum(axis=1)/10
df_summary['agreeable'] = df[agr].sum(axis=1)/10
df_summary['conscientious'] = df[csn].sum(axis=1)/10
df_summary['open'] = df[opn].sum(axis=1)/10

df_summary['clusters'] = classifier.labels_
df_summary.groupby('clusters').mean()

          extroversion  neurotic  agreeable  conscientious      open
clusters
0             1.999142  2.008825   3.193868       2.700422  3.499078
1             3.634446  2.428204   3.942845       2.912770  3.983521
2             2.513364  3.568980   3.056117       3.314255  3.810260
3             3.800103  3.744974   4.189465       3.796536  4.055738
4             2.407200  2.641792   4.077906       3.805923  3.834242

In [ ]:
Observations for each cluster:
Cluster 0: high open, low extro, low neuro
Cluster 1: high agree, high open
Cluster 2: low extro
Cluster 3: high agree
Cluster 4: high agree, low extro, low neuro

In [8]:
#Saving the model
with open('model.pkl', 'wb') as file:
    pickle.dump(classifier, file)

In [9]:
#Test 1
X = [[1, 2, 2, 3, 3, 1, 5, 5, 4, 4, 4, 5, 2, 3, 3, 2, 3, 4, 2, 4, 5, 2, 3, 1, 1, 1, 2, 2, 3, 4, 3, 2, 4, 3, 5, 5, 2, 1, 1, 1, 5, 3, 3, 3, 3, 3, 3, 1, 1, 2]]
classifier.predict(X)

array([2])

In [10]:
#Test 2
X = [[2,3,3,2,2,5,2,4,5,4,2,3,4,5,2,2,1,1,3,1,2,5,1,5,2,5,1,3,5,5,5,1,4,1,4,1,5,2,5,5,3,2,4,2,5,1,5,2,5,5]]
classifier.predict(X)

array([1])